@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'fonts.css';
@import 'form.css';
@import 'button.css';
@import 'dropdown.css';

:root {
  --dark: #d1d9e6;
  --light: #ffffff;
  --border-radius: 10px;
  --very-dark: #5c6070;
  --background: #ecf0f3;
  --transition-time: 0.2s;
}

body {
  background-color: var(--background);
}

body * {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

#beauty {
  top: 50%;
  left: 50%;
  width: 60%;
  height: 80%;
  display: flex;
  max-width: 500px;
  min-height: 366px;
  padding: 25px 20px;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 5px var(--dark), -2px -2px 5px var(--light);
}

#beauty > canvas {
  width: 100%;
  margin-bottom: 20px;
  border: 0.8px solid var(--dark);
  border-radius: var(--border-radius);
}

@media (max-width: 550px) {
  #beauty {
    width: 80%;
  }
}
